<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO" monitorInterval="30">
    <conversionRule conversionWord="clr"
                    converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
    <Properties>
        <Property name="application.name">sim-db-dif</Property>
        <Property name="log.dir">./logs</Property>
        <Property name="log.pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%5p] ${sys:PID} --- [%15.15t] %-50.50c:%5.5L : %m%n%xwEx</Property>
        <Property name="log.color.pattern">%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} [%clr{%5p} ] %clr{${sys:PID}}{magenta} %clr{---}{faint} %clr{[%15.15t ]}{faint} %clr{%-50.50c:%5.5L}{cyan} %clr{:}{faint} %m%n%xwEx</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <charset>UTF-8</charset>
                <pattern>${log.color.pattern}</pattern>
            </PatternLayout>
        </Console>
        <!--INFO-->
        <RollingFile name="INFO-LOG"
                     fileName="${log.dir}/${application.name}-info.log"
                     immediateFlush="true"
                     filePattern="${log.dir}/${application.name}-info-%d{yyyy-MM-dd}.log">

            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${log.pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>

        </RollingFile>

        <!--ERROR-->
        <RollingFile name="ERROR-LOG"
                     fileName="${log.dir}/${application.name}-error.log"
                     immediateFlush="true"
                     filePattern="${log.dir}/${application.name}-error-%d{yyyy-MM-dd}.log">

            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${log.pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <logger name="jdbc.sqlonly" level="INFO"/>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="INFO-LOG"/>
            <AppenderRef ref="ERROR-LOG"/>
        </Root>
    </Loggers>

</Configuration>